<header class="site-header">
  <div id = "h-title">
    <div style = "margin:0;"> <img id = "icon" src = "icon/icon_512(2).png"> </div>
      <div id = "h-mondouko" ><a href = "index">問答庫</a></div>
    </div>
    <span>
      <div><a href = "about"<i class="fas fa-tags"></i>　キーワード</a></div>
      <div><a href = "about"><i class="fas fa-address-card"></i>　問答庫とは</a></div>
      <div><a href = "about"><i class="fas fa-gamepad"></i>　タイピング</a></div>
      <div><a href = "news"><i class="fas fa-info-circle"></i>　お知らせ</a></div>
    </span>

    <label id = "h-tab" for = "h-input"><i class="fas fa-bars"></i></label>
    <input id = "h-input" type = "checkbox">
    <id id = "h-menu">
    <label id = "h-tab2" for = "h-input"><i class="fas fa-times"></i>　閉じる</label>
    <ul>
      <li><a href = "about"><i class="fas fa-tags"></i>　キーワード</a></li>
      <li><a href = "about"><i class="fas fa-address-card"></i>　問答庫とは</a></li>
      <li><a href = "about"><i class="fas fa-gamepad"></i>　タイピング</a></li>
      <li><a href = "news"><i class="fas fa-info-circle"></i>　お知らせ</a></li>
      <li><a href = "index">数学</a></li>
      <li><a href = "index">科学</a></li>
      <li><a href = "index">社会</a></li>
      <li><a href = "index">芸術</a></li>
      <li><a href = "index">スポーツ</a></li>
      <li><a href = "index">生活</a></li>
      <li><a href = "index">サブカルチャー</a></li>
      <li><a href = "index">ランダム</a></li>
    </ul>
  </id>
</header>